a {
	text-decoration: none;
}
.shop .summary .species {
    color: #444;
    font-size: 2em;
    letter-spacing: -1px;
    line-height: 30px;
	margin-top: 20px;
}
.edit-img {
	position: absolute;
	right: 30px;
	top: 15px;
	border: 2px solid white !important;
}
.fixed-bottom {
	position: absolute;
	bottom: 0;
}
.btn {
	min-width: 40px;
}
.right {
	float: right;
	margin-left: 3px;
}
#filechooser {
	display: none;
}
#pet-edit {
	display: none;
}
#viewpet-name {
	font-weight:bold;
}
#result-msg {
	font-weight:bold;
}
.msg-error {
	color: #660000;
}
.msg-success {
	color: #006600;
}
.msg-info {
	color: #000066;
}
.actions {
	overflow: hidden;
}
.page-info {
	text-align: center;
	font-weight: bold;
	padding-top: 6px;
	color: #333;
}
#header .user-info {
    float: right;
    margin: 10px 0 0 15px;
    position: relative;
}
#header .user-info button.btn-default {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 3;
}
.input-group-btn > span {
	font-size: 14px;
	float: left;
}
